<div class="docs-side-nav">
  <div class="docs-side-nav--inner">
    <ul>
      {{#each side_nav}}
      <li>
        <a href="#{{hyphenate (lowercase this) }}" class="js-scroll-to" data-offset="49">{{this}}</a>
      </li>
      {{/each}}
      <li><a href="#top" class="back-to-top js-scroll-to">Back to Top</a></li>
    </ul>
  </div>
</div>