  {{> head}}
  <body>
    <a id="top"></a>
    {{> nav}}

    <section class="container docs" role="main">

      <div class="docs-main">
        {{> body }}
      </div>
      {{> docs-side-nav}}

    </section>

    {{> scripts }}

  </body>
</html>